@font-face {
    font-family: 'Madfont';
    src: url('fonts/madfont.eot');
    src: local('?'), url('fonts/madfont.woff') format('woff'), url('fonts/madfont.ttf') format('truetype'), url('fonts/madfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'idolwildregular';
    src: url('fonts/idolwild-webfont.eot');
    src: url('fonts/idolwild-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/idolwild-webfont.woff') format('woff'),
    url('fonts/idolwild-webfont.ttf') format('truetype'),
    url('fonts/idolwild-webfont.svg#idolwildregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'komika_title_-_paintregular';
    src: url('fonts/komikatitle-paint-webfont.eot');
    src: url('fonts/komikatitle-paint-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/komikatitle-paint-webfont.woff') format('woff'),
    url('fonts/komikatitle-paint-webfont.ttf') format('truetype'),
    url('fonts/komikatitle-paint-webfont.svg#komika_title_-_paintregular') format('svg');
    font-weight: normal;
    font-style: normal;
}



input[type="text"]:focus {
  outline: none;
}

body{
    background-color: #5bcd72;
	font-family: arial, helvetica, sans-serif;
    max-width:1500px;
}
.bg{
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
h2{
	font-size:20px;
	font-weight:700;
	margin:50px 20px 20px;
}
h6 {
	font-size: 70px;
	font-weight: normal;
	margin: 0;
	text-shadow: 1px 3px 5px #000, -1px 2px 6px #000;
	color: #FBF11D;
	font-family: 'Bowlby One SC',"Arial Black",sans-serif;
    transform:rotate(-90deg);
    transform-origin: 37px -73px;
}
p{
	font-size:15px;
	margin:20px;
}
section h3, #p2-head, #p2-body {
	font-size:30px;
    font-family: "Wellfleet", Sans, sans-serif;
	margin: -152px 0 20px 35px;
	color: #fff;
	text-shadow: 3px -3px 8px black;
}
section h3, #p2-head{
    margin: 40px auto;
    padding-top: 20px;
    width: 744px;
}
section h3{
    margin:0 0 0 20px;
}
ul{
	margin:20px 0 0 56px;
    list-style: disc outside;

}
li{
	font-size:25px;
	margin:0 0 12px 5px;
    font-family: Sans, sans-serif;
}
a{text-decoration:none;}
a:hover {
    color:#fff;
    background-color:#069;
}

#cover, #comic-page{
    position:relative;
}
.details{
    -webkit-background-size: cover;
    background-size: cover;

}
#comic-page{
    background-color:rgba(255,255,255,.1);
    border-radius:10px;
    width:900px;
    height: auto;
    border-color:transparent;
    margin: 0 auto;
}
#comic-page p{font-size:26px;}

#cover{height:756px;}
.visible{
    display: block;
}
.hidden{
    display: none;
}
#adventures{
    width:330px;
    height: 36px;
    position: relative;
    margin:15px auto -10px;
    -webkit-transform: rotate(-7deg);
    -moz-transform: rotate(-7deg);
    transform: rotate(-7deg);
}
#adventures h2 {
    margin:0;
    font-size:36px;
    font-family:'idolwildregular', Sans, sans-serif;
    letter-spacing:-3px;
    text-shadow: 2px 2px 8px #888;
 }
.veteran{
    background: url('../img/comicbook-spritenew.png') -62px -692px no-repeat;
    width:478px;
    height:95px;
    position: relative;
    top:49px;
    left:-99px;
    text-align:center;
    font-size:22px;
    font-weight:700;
    z-index:5;
    color:#fff;
}
#web-dev{
    position: relative;
    top:-250px;
    -webkit-animation:webDev .4s 5s ease-out;
    animation:webDev .4s 5s ease-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@keyframes webDev
{
    0% {top:-170px;}
    50% {top:50px;}
    65% {top:-25px;}
    70% {top:40px;}
    80% {top:-5px;}
    90% {top:10px;}
    95% {top:-5px;}
    100% {top:5px;}
}
@-webkit-keyframes webDev
{
    0% {top:-170px;}
    50% {top:50px;}
    65% {top:-25px;}
    70% {top:40px;}
    80% {top:-5px;}
    90% {top:10px;}
    95% {top:-5px;}
    100% {top:5px;}
}
#web-dev h2{
    font-family: 'Sintony', Sans, arial;
    font-weight: 700;
    margin:0;
    font-size:36px;
    color: #fff;
    text-shadow: 4px -4px 0 #000;
}
#site-slice-border{
	margin:10px auto 50px;
	width:850px;
	height:258px;
	background-color:rgba(0,102,153,.85);
	padding:10px;
	border-radius:10px;
	box-shadow: 2px -2px 11px #000, -2px 2px 11px #000;
}
.site-slice{
	display:none;
	width:850px;
	height:250px;
	overflow:hidden;
	border-radius: 7px;
}
.site-slice:first-child{
	display:block;
}

.contrib{
	display:none;
	width:670px;
}

header{
	position:fixed;
    z-index: 10;
    background-color: #BC0000;
	width:100%;
	height: 190px;
    box-shadow: 0px 2px 11px #333;
    text-align:center;
    -webkit-animation: header .5s 9s 1 ease-in; /* make section padding-top; 70px at same time */
    animation: header .5s 9s 1 ease-in;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@keyframes header
{
    0%   {top:0;}
    100% {top:-123px;}
}
@-webkit-keyframes header
{
    0%   {top:0;}
    100% {top:-123px;}
}
.menu-button{
    cursor:pointer;
    position:absolute;
    padding:5px;
    right:44px;
    top:144px;
    border:2px solid transparent;
    border-radius:10px;
    -webkit-animation: menu-pulsing-frame 3s alternate infinite;
    animation: menu-pulsing-frame 3s alternate infinite;
}
.menu-button:hover {
    border-color:#000;
}
@keyframes menu-pulsing-frame {
    from {
        border-color: #000;
    }
    to {
        border-color: transparent;
    }
}
@-webkit-keyframes menu-attractor {
    from {
        border-color: #000;
    }
    to {
        border-color: transparent;
    }
}
.menu-button hr{
    display:block;
    width: 24px;
    height: 3px;
    border: 0;
    margin: 3px 0;
    background-color: #000; /*#810926;*/
}
.menu-button:hover hr{
    background-color: #000;
}
.menu-container{
    z-index:5;
    position:fixed;
    right:34px;
    top:-75px;
    opacity:0;
}




.menu-visible{
    -webkit-animation: menu-visible .25s 0s 1 ease-in;
    animation: menu-visible .25s 0s 1 ease-in;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
.menu-hidden{
    -webkit-animation: menu-hidden .25s 0s 1 ease-in;
    animation: menu-hidden .25s 0s 1 ease-in;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes menu-visible
{
    0% {top:-95px;}
    100% {top:75px;}
}

@-webkit-keyframes menu-visible
{
    0% {top:-95px;}
    100% {top:75px;}
}
@keyframes menu-hidden
{
    0% {top:75px;}
    100% {top:-95px;}
}

@-webkit-keyframes menu-hidden
{
    0% {top:75px;}
    100% {top:-95px;}
}



.menu-container div{
    width:46px;
    padding:0 5px;
    font-size:12px;
    height:24px;
    line-height:24px;
    margin-bottom:5px;
    background-color:orange;
    cursor:pointer;
    border-radius: 4px;
    border: 1px solid #f56439;
    text-align:center;
}
.menu-container div a {
    color:#fff;
}
.menu-container div:hover, .menu-container div:hover a {
    color:#fff;
    background-color: #f56439;
}
.menu-container .active-item, .menu-container .active-item a{
    color:#000;
    background-color: #fffb09;
    outline: 0;
}


#front-end{
	position:relative;
    margin:20px auto 0;
    width:657px;
	height:73px;
}
#front-end h1 {
    color: #FBF11D;
    font-size: 55px;
    font-family: 'komika_title_-_paintregular', Sans, san-serif;
    font-family: 'Madfont', Sans, san-serif;
    margin-top: 0;
    text-shadow: 5px -4px 0 #000;
    padding: 10px;
    line-height: 44px;
    width:100%;
    height: 44px;
}
#front-end span{
    display:block;
    position:absolute;
    left:-950px;
}
.character1{
    -webkit-animation: move1 .25s 1s 1 ease-in;
    animation: move1 .25s 1s 1 ease-in;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@keyframes move1
{
    0% {left:-250px; top:500px;}
    100% {left:9px; top:10px;}
}

@-webkit-keyframes move1
{
    0% {left:-250px; top:500px;}
    100% {left:9px; top:10px;}
}
.character2{
    -webkit-animation: move2 .25s 1.2s 1 ease-in;
    animation: move2 .25s 1.2s 1 ease-in;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@keyframes move2
{
    0% {left:-250px; top:400px;}
    100% {left:58px; top:10px;}
}

@-webkit-keyframes move2
{
    0% {left:-250px; top:400px;}
    100% {left:58px; top:10px;}
}
.character3{
    -webkit-animation: move3 .25s 1.3s 1 ease-in;
    animation: move3 .25s 1.3s 1 ease-in;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@keyframes move3
{
    0% {left:-250px; top:300px;}
    100% {left:108px; top:10px;}
}

@-webkit-keyframes move3
{
    0% {left:-250px; top:300px;}
    100% {left:108px; top:10px;}
}
.character4{
    -webkit-animation: move4 .25s 1.4s 1 ease-in;
    animation: move4 .25s 1.4s 1 ease-in;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@keyframes move4
{
    0% {left:-250px; top:200px;}
    100% {left:159px; top:10px;}
}

@-webkit-keyframes move4
{
    0% {left:-250px; top:200px;}
    100% {left:159px; top:10px;}
}
.character5{
    -webkit-animation: move5 .25s 1.5s 1 ease-in;
    animation: move5 .25s 1.5s 1 ease-in;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@keyframes move5
{
    0% {left:-250px; top:100px;}
    100% {left:214px; top:10px;}
}

@-webkit-keyframes move5
{
    0% {left:-250px; top:100px;}
    100% {left:214px; top:10px;}
}
.character6{
    -webkit-animation: move6 .25s 1.6s  1 ease-in;
    animation: move6 .25s 1.6s 1 ease-in;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@keyframes move6
{
    0% {left:0; top:-200px;}
    100% {left:262px; top:10px;}
}

@-webkit-keyframes move6
{
    0% {left:0; top:-200px;}
    100% {left:262px; top:10px;}
}
.character7{
    -webkit-animation: move7 .25s 1.7s 1 ease-in;
    animation: move7 .25s 1.7s 1 ease-in;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@keyframes move7
{
    0% {left:200px; top:-200px;}
    100% {left:285px; top:10px;}
}

@-webkit-keyframes move7
{
    0% {left:200px; top:-200px;}
    100% {left:285px; top:10px;}
}
.character8{
    -webkit-animation: move8 .25s 1.8s 1 ease-in;
    animation: move8 .25s 1.8s 1 ease-in;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@keyframes move8
{
    0% {left:600px; top:-200px;}
    100% {left:335px; top:10px;}
}

@-webkit-keyframes move8
{
    0% {left:600px; top:-200px;}
    100% {left:335px; top:10px;}
}
.character9{
    -webkit-animation: move9 .25s 1.9s 1 ease-in;
    animation: move9 .25s 1.9s 1 ease-in;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@keyframes move9
{
    0% {left:1200px; top:-200px;}
    100% {left:391px; top:10px;}
}

@-webkit-keyframes move9
{
    0% {left:1200px; top:-200px;}
    100% {left:391px; top:10px;}
}
.character10{
    -webkit-animation: move10 .25s 2s 1 ease-in;
    animation: move10 .25s 2s 1 ease-in;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@keyframes move10
{
    0% {left:2250px; top:500px;}
    100% {left:466px; top:10px;}
}

@-webkit-keyframes move10
{
    0% {left:2250px; top:500px;}
    100% {left:466px; top:10px;}
}
.character11{
    -webkit-animation: move11 .25s 2.1s 1 ease-in;
    animation: move11 .25s 2.1s 1 ease-in;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@keyframes move11
{
    0% {left:2250px; top:400px;}
    100% {left:540px; top:10px;}
}

@-webkit-keyframes move11
{
    0% {left:2250px; top:400px;}
    100% {left:540px; top:10px;}
}
.character12{
    -webkit-animation: move12 .25s 2.2s 1 ease-in;
    animation: move12 .25s 2.2s 1 ease-in;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@keyframes move12
{
    0% {left:2250px; top:300px;}
    100% {left:602px; top:10px;}
}

@-webkit-keyframes move12
{
    0% {left:2250px; top:300px;}
    100% {left:602px; top:10px;}
}
section{
    position: fixed;
    width:100%;
    clear:left;
}



#home{
    z-index:4;
    top: 190px;
    background: url('../img/sbs-right-bg.jpg') 100% 100% no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-size: cover;

    -webkit-animation: home .5s 9s 1 ease-in; /* this adjusts the section when #header top; 123px at same time */
    animation: home .5s 9s 1 ease-in;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes home
{
    100% {top: 70px;}
}
@-webkit-keyframes home
{
    100% {top: 70px }
}

#about{
    z-index:3;
    background-color: #F0B926;
    padding-top:70px;
}
#contact{
    z-index:2;
    background-color: #5cb591;
    padding-top:70px;
}
#portfolio{
    z-index:1;
    background-color: #5bcd72;
    height:890px;
    padding-top:70px;
}

.sbs-left, .sbs-right{
    float:left;
	width:50%;
    min-width: 400px;
	height:100%;
}

.sbs-left p, .contrib li, .return p {
    color:#fff;
	font-size:24px;
    text-shadow: 2px -2px 3px #494B4B;
    line-height: 1.25;
}


.sbs-left p {
    font-family:Sans, sans-serif;
}
.sbs-left a{padding:0 3px;}
.sbs-left a, .return a {text-decoration:underline;}
.sbs-left a {color:#fff;}

.alfred-caption{
	background: url('../img/comicbook-spritenew.png') -9px -274px no-repeat;
	width: 208px;
	height:121px;
	position: relative;
	top:2px;
	left:124px;
    opacity:0;
    -webkit-animation:caption 3s 6s linear;
    animation:caption 3s 6s linear;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@keyframes caption
{
    100% {opacity:1;}
}

@-webkit-keyframes caption
{
    100% {opacity:1;}
}

.alfred-head{
	background: url('../img/comicbook-spritenew.png') -363px -398px no-repeat;
	width: 254px;
	height:254px;
	position: relative;
	top:9px;
	left:20px;
	cursor:pointer;
    /* auto-starts after 14sec 3 iterations for .3sec each */
    -webkit-animation:headSpin .3s 3s 3 linear;
    animation:headSpin .5s 3s 3 linear;
    /* used with hover */
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

@keyframes headSpin
{
    0%   {transform:rotate(0deg);}
    25%  {transform:rotate(90deg);}
    50%  {transform:rotate(180deg);}
    75%  {transform:rotate(270deg);}
    100% {transform:rotate(360deg);}
}

@-webkit-keyframes headSpin
{
    0%   {-webkit-transform:rotate(0deg);}
    25%  {-webkit-transform:rotate(90deg);}
    50%  {-webkit-transform:rotate(180deg);}
    75%  {-webkit-transform:rotate(270deg);}
    100% {-webkit-transform:rotate(360deg);}
}

.alfred-head:hover {
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
}

.heroes{
	background-image: url('../img/heroes.png');
    background-position: -2240px, 0;
	width:140px;
	height:180px;
    -webkit-animation:newPic 60s 0s infinite linear;
            animation:newPic 60s 0s infinite linear;
}
@keyframes newPic
{
    0%     {background-position: -2240px, 0;opacity:1;}

    6.00%  {background-position: -2240px, 0;opacity:.5;}
    6.24%  {background-position: -2240px, 0;opacity:0;}
    6.25%  {background-position: -2100px, 0;opacity:1;}

    12.00% {background-position: -2100px, 0;opacity:.5;}
    12.40% {background-position: -2100px, 0;opacity:0;}
    12.50% {background-position: -1960px, 0;opacity:1;}

    18.60% {background-position: -1960px, 0;opacity:.5;}
    18.70% {background-position: -1960px, 0;opacity:0;}
    18.75% {background-position: -1820px, 0;opacity:1;}

    24.80% {background-position: -1820px, 0;opacity:.5;}
    24.90% {background-position: -1820px, 0;opacity:0;}
    25.00% {background-position: -1680px, 0;opacity:1;}

    30.90% {background-position: -1680px, 0;opacity:.5;}
    31.15% {background-position: -1680px, 0;opacity:0;}
    31.25% {background-position: -1540px, 0;opacity:1;}

    37.00% {background-position: -1540px, 0;opacity:.5;}
    37.40% {background-position: -1540px, 0;opacity:0;}
    37.50% {background-position: -1400px, 0;opacity:1;}

    43.60% {background-position: -1400px, 0;opacity:.5;}
    43.70% {background-position: -1400px, 0;opacity:0;}
    43.75% {background-position: -1260px, 0;opacity:1;}

    49.80% {background-position: -1260px, 0;opacity:.5;}
    49.90% {background-position: -1260px, 0;opacity:0;}
    50.00% {background-position: -1120px, 0;opacity:1;}

    55.90% {background-position: -1120px, 0;opacity:.5;}
    56.15% {background-position: -1120px, 0;opacity:0;}
    56.25% {background-position: -980px, 0;opacity:1;}

    62.00% {background-position: -980px, 0;opacity:.5;}
    62.40% {background-position: -980px, 0;opacity:0;}
    62.50% {background-position: -840px, 0;opacity:1;}

    68.30% {background-position: -840px, 0;opacity:.5;}
    68.60% {background-position: -840px, 0;opacity:0;}
    68.75% {background-position: -700px, 0;opacity:1;}

    74.70% {background-position: -700px, 0;opacity:.5;}
    74.90% {background-position: -700px, 0;opacity:0;}
    75.00% {background-position: -560px, 0;opacity:1;}

    80.80% {background-position: -560px, 0;opacity:.5;}
    81.10% {background-position: -560px, 0;opacity:0;}
    81.25% {background-position: -420px, 0;opacity:1;}

    87.00% {background-position: -420px, 0;opacity:.5;}
    87.35% {background-position: -420px, 0;opacity:0;}
    87.50% {background-position: -280px, 0;opacity:1;}

    93.50% {background-position: -280px, 0;opacity:.5;}
    93.60% {background-position: -280px, 0;opacity:0;}
    93.75% {background-position: -140px, 0;opacity:1;}

    99.50% {background-position: -140px, 0;opacity:.5;}
    99.80% {background-position: -140px, 0;opacity:0;}
    100.00% {background-position: 0, 0;opacity:1;}
}

@-webkit-keyframes newPic {
    0%     {background-position: -2240px, 0;opacity:1;}

    6.00%  {background-position: -2240px, 0;opacity:.5;}
    6.24%  {background-position: -2240px, 0;opacity:0;}
    6.25%  {background-position: -2100px, 0;opacity:1;}

    12.00% {background-position: -2100px, 0;opacity:.5;}
    12.40% {background-position: -2100px, 0;opacity:0;}
    12.50% {background-position: -1960px, 0;opacity:1;}

    18.60% {background-position: -1960px, 0;opacity:.5;}
    18.70% {background-position: -1960px, 0;opacity:0;}
    18.75% {background-position: -1820px, 0;opacity:1;}

    24.80% {background-position: -1820px, 0;opacity:.5;}
    24.90% {background-position: -1820px, 0;opacity:0;}
    25.00% {background-position: -1680px, 0;opacity:1;}

    30.90% {background-position: -1680px, 0;opacity:.5;}
    31.15% {background-position: -1680px, 0;opacity:0;}
    31.25% {background-position: -1540px, 0;opacity:1;}

    37.00% {background-position: -1540px, 0;opacity:.5;}
    37.40% {background-position: -1540px, 0;opacity:0;}
    37.50% {background-position: -1400px, 0;opacity:1;}

    43.60% {background-position: -1400px, 0;opacity:.5;}
    43.70% {background-position: -1400px, 0;opacity:0;}
    43.75% {background-position: -1260px, 0;opacity:1;}

    49.80% {background-position: -1260px, 0;opacity:.5;}
    49.90% {background-position: -1260px, 0;opacity:0;}
    50.00% {background-position: -1120px, 0;opacity:1;}

    55.90% {background-position: -1120px, 0;opacity:.5;}
    56.15% {background-position: -1120px, 0;opacity:0;}
    56.25% {background-position: -980px, 0;opacity:1;}

    62.00% {background-position: -980px, 0;opacity:.5;}
    62.40% {background-position: -980px, 0;opacity:0;}
    62.50% {background-position: -840px, 0;opacity:1;}

    68.30% {background-position: -840px, 0;opacity:.5;}
    68.60% {background-position: -840px, 0;opacity:0;}
    68.75% {background-position: -700px, 0;opacity:1;}

    74.70% {background-position: -700px, 0;opacity:.5;}
    74.90% {background-position: -700px, 0;opacity:0;}
    75.00% {background-position: -560px, 0;opacity:1;}

    80.80% {background-position: -560px, 0;opacity:.5;}
    81.10% {background-position: -560px, 0;opacity:0;}
    81.25% {background-position: -420px, 0;opacity:1;}

    87.00% {background-position: -420px, 0;opacity:.5;}
    87.35% {background-position: -420px, 0;opacity:0;}
    87.50% {background-position: -280px, 0;opacity:1;}

    93.50% {background-position: -280px, 0;opacity:.5;}
    93.60% {background-position: -280px, 0;opacity:0;}
    93.75% {background-position: -140px, 0;opacity:1;}

    99.50% {background-position: -140px, 0;opacity:.5;}
    99.80% {background-position: -140px, 0;opacity:0;}
    100.00% {background-position: 0, 0;opacity:1;}
}
.heroFrame{
	position:relative;
	z-index:5;
	width:140px;
	height:180px;
	padding:7px;
	border:1px solid #000;
	background-color:#fff;
	border-radius: 4px;
}
#chrome-zoom-bug-fix{
    padding: 120px 0 0 120px;
}
#about .heroFrame {
    margin:0;
    display:inline-block;
    zoom:200%;
    -moz-transform:scale(2,2);
}

#navigation{
    background: url('../img/circle-star.png') 0px 0px no-repeat;
	top:0px;
	left:700px;
	position:relative;
	width: 145px;
	height: 145px;
}
#navigation ul li{
	position:relative;
	z-index:5;
    color:#008C8C;

}
#navigation ul {
	list-style-type: none;
}
#navigation ul li{
	cursor:pointer;
    font-size: 24px;
    width:30px;
}
.circleDot0{
	top:-2px;
	left:8px;
}
.circleDot1{
	top:6px;
	left:65px;
}
.circleDot2{
	top:37px;
	left:41px;
}
.circleDot3{
	top:1px;
	left:-27px;
}
.circleDot4{
	top:-103px;
	left:-52px;
}
.return{
	position: relative;
	left: 15px;
}



/* --------------------------------------- */

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

    /* --------------------------------------- */

    @media all and (max-width: 85em) {
        body { font-size:9px; }
    }

    @media all and (max-width: 80em) {
        section.two { background-image:none; }
        section.alternate { padding:10em 15em; }
    }

    @media all and (max-width: 75em) {
        body { font-size:8px; }
        section.init { height: auto; }
        section .inner { position: static; }
    }

    @media all and (max-width: 65em) {
        body { font-size:7px; }
    }

    @media all and (max-width: 55em) {
        li a span { display: none; }
        section.more { background-image:none; }
    }

    @media all and (max-width: 50em) {
        section, section.alternate, section.top, section.last { padding:6em; }
        section.close { padding-top:0; }
        i { display: none !important; }
    }
}