html,body,div,span,h1,h2,h3,h4,h5,h6,p,font,img,dl,dt,dd,lo,ul,li,table,tbody,tfoot,thead,tr,th,td {
    border: none;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
}
body {
    background:url('../images/ProntoBackground.png') repeat;
    position: absolute;
    font-family: Arial,Helvetica,Verdana,sans-serif;
    font-size: 62.5%;
    color: #009;
    text-align: center;
    width: 100%;
    height: 580px;
    overflow: auto;
}

@font-face {
font-family: 'ChunkFiveRegular';
src: url('./fonts/Chunkfive-webfont.eot?') format('eot'),
url('./fonts/Chunkfive-webfont.woff') format('woff'),
url('./fonts/Chunkfive-webfont.ttf') format('truetype'),
url('./fonts/Chunkfive-webfont.svg#webfontbMWZ83oH') format('svg');
font-weight: normal;
font-style: normal;
}
span.ChunkFive{
font-family: 'ChunkFiveRegular';
font-size:24px;
color:navy;
}

@font-face {
    font-family: 'PTSerifBoldItalic';
    src: url('./fonts/PTF76F-webfont.eot');
    src: local('☺'), url('./fonts/PTF76F-webfont.woff') format('woff'), url('./fonts/PTF76F-webfont.ttf') format('truetype'), url('./fonts/PTF76F-webfont.svg#webfont6vUwkrzQ') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*
@font-face {
font-family: 'firsttestRegular';
src: url('./fonts/Forque-webfont.eot#') format('embedded-opentype'),
url('./fonts/Forque-webfont.woff') format('woff'),
url('./fonts/Forque-webfont.ttf') format('truetype'),
url('./fonts/Forque-webfont.svg#webfontOq4F2zFb') format('svg');
font-weight: normal;
font-style: normal;
}
*/
span.mediumGreen {
    margin: 10px 0;
    font-family: 'SlingNormal';
    font-size: 22px;
    color: #060;
}
span.firstTestGreen {
    display: block;
    margin: 40px 0;
    font-family: 'SlingLight ';
    font-size: 36px;
    line-height: 48px;
    color: #090;
}
@font-face {
    font-family: 'SlingNormal';
    src: url('./fonts/Sling-webfont.eot?') format('eot'), url('./fonts/Sling-webfont.woff') format('woff'), url('./fonts/Sling-webfont.ttf') format('truetype'), url('./fonts/Sling-webfont.svg#webfontSHO92090') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SlingLight';
    src: url('./fonts/SlingLight-webfont.eot?') format('eot'), url('./fonts/SlingLight-webfont.woff') format('woff'), url('./fonts/SlingLight-webfont.ttf') format('truetype'), url('./fonts/SlingLight-webfont.svg#webfontNbSVJs4H') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SlingBold';
    src: url('./fonts/SlingBold-webfont.eot?') format('eot'), url('./fonts/SlingBold-webfont.woff') format('woff'), url('./fonts/SlingBold-webfont.ttf') format('truetype'), url('./fonts/SlingBold-webfont.svg#webfontbZO6f6kD') format('svg');
    font-weight: normal;
    font-style: normal;
}
p {
    color: #000;
    font-size: 16px;
    line-height: 140%;
    text-align: left;
    font-weight: 400;
    margin: 10px 10px 10px 25px;
}
h1,
h3 {
    font-family: 'SlingNormal', serif;
    color: #002c85; /* dark blue */
    text-shadow: 2px -2px 2px #bbb;
    -webkit-text-shadow: 2px -2px 2px #bbb;
    -moz-text-shadow: 2px -2px 2px #bbb;
    text-align: center;
    font-size: 28px;
    line-height: 42px;
    white-space: nowrap;
    margin: 5px 0;
}
h1 { display: none }

h2 {
    text-align: center;
    font-weight: 700;
    color: #000;
    font-size: 16px;
    margin: 12px 0;
}
h4 {
    color: #000;
    font-size: 14px;
    text-align: center;
    margin: 6px 0;
}
hr {
    height: 1px;
    width: 340px;
}
div.divider {
    background-image: url('../images/spriteMe.png');
    background-position: 0 -1244px;
    background-repeat: no-repeat;
    height: 14px;
    width: 120px;
    margin-left: 300px;
    cursor:pointer;
}
div#me{
	background-image: url('../images/spriteMe.png');
 background-position: 0 -1017px;
float:left;
margin:20px 20px 40px;
width:103px;
height:147px;
border-radius: 14px;
-moz-border-radius: 14px;
-webkit-border-radius: 14px;
behavior: url(./css/PIE.htc);
}
div.divider hr { display: none }
ol,
ul {
    font-family: 'Slinglight', serif;
    font-size: 16px;
    line-height: 22px;
    text-align: left;
    margin: 0 20px 12px;
    padding: 0 20px;
    color: #000;
}
li { margin: 0 40px }
ol,
ul {
font-family: Arial,Helvetica,Verdana,sans-serif;
    margin-left: 30px;
    padding: 0;
    width: 90%;
}
ul li {
    margin: 0 0 4px 30px;
    font-size: 16px;
    line-height: 20px;
}
ol li {
    margin: 0 0 4px 20px;
    font-size: 24px;
}
ul.Step {list-style-type:none; margin-top:25px;text-align:center;}
ul.Step li {border:1px solid #222;padding:8px 0 8px 15px;text-align:left;font-size: 24px;}
li.Step6{margin:0 150px -2px;background-color:#d6C8e4;}
li.Step5{margin:0 125px -2px;background-color:#d2a3ff;}
li.Step4{margin:0 100px -2px;background-color:#c89cf3;}
li.Step3{margin:0 75px -2px;background-color:#dcb9ff;}
li.Step2{margin:0 50px -2px;background-color:#cea4f8;}
li.Step1{margin:0 25px -2px;background-color:#cc99ff;}
ul.crossOut {
    list-style-image: url('../images/crossOut.png');
    margin-left: 220px;
}
ul.crossOut li {
    font-size: 20px;
    line-height: 24px;
}
div.panelContent ol { margin: 10px 0 0 20px }
span.normalSized {
    font-size: 16px;
    line-height: 26px;
}
li.forTabProcessing a {
    font-size: 12px;
    font-family: Arial,Helvetica,Verdana,sans-serif;
}
.Highlight {
    background: #f12a09;
    color: #fff;
    font-weight: 700;
}
.Button {
    background: #134584;
    font: small sans-serif;
    color: #fff;
    cursor: pointer;
    width: 190px;
}
div#Head {
	position: absolute;
    top:22px;
    left: 20px;
    width:565px;
    height:41px;
    z-index:10;
}
div#Head, div#Head span{
	position: absolute;
    left:20px;
    cursor: pointer;
    font-family: 'ChunkFiveRegular', 'helvetica', 'serif';
    color: #fff;
    font-size: 36px;
    padding-top:1px;
    height:40px;
    line-height:40px;
    text-shadow: 2px -2px 2px #000;
    -webkit-text-shadow: 2px -2px 2px #000;
    -moz-text-shadow: 2px -2px 2px #000;
}
#feedbackForm p {
    color: #fff;
    font-size: 14px;
    width: 380px;
    margin:10px 30px 8px;
}
div#feedbackWrapper {
    z-index: 98;
    position: fixed;
    top: 155px;
    left: 0;
    height: 370px;
    width: 35px; /* width when hidden */
    text-align: left;
}
.roundedCorners {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    behavior: url(./css/PIE.htc);
}
div#FeedbackButton {
    float: left;
    height: 100px;
    margin: 145px 0;
    width: 20px;
    border: 1px solid #002c85; /* dark blue */
    box-shadow: 2px -2px 2px #000;
    -webkit-box-shadow: 2px -2px 2px #000;
    -moz-box-shadow: 2px -2px 2px #000;

    cursor: pointer;
    background: #1A83A3 url('../images/spriteMe.png') 3px -270px no-repeat; /* light blue */
    z-index: 99;
    border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0 4px 4px 0;
    behavior: url(./css/PIE.htc);
}
#feedbackPanel {
    float: left;
    height: 370px;
    width: 400px;
    border: 1px solid #5944ff;
    box-shadow: 2px -2px 2px #000;
    -webkit-box-shadow: 2px -2px 2px #000;
    -moz-box-shadow: 2px -2px 2px #000;
    background-color: #3acffe;
    margin: 0 auto;
    display: none;
}
textarea#feedbackText {
    width: 330px;
    height: 170px;
    background: #fff;
    margin: 0;
}
form#feedbackForm { width: 400px }
.block202 {
    position: relative;
    width: 400px;
    margin: 0 auto;
    text-align: left;
}
.clear202 { clear: left }
.block202 p { white-space: nowrap }
#feedbackSubmit,
#feedbackCancel {
    position: relative;
    float: left;
    width: 70px;
    margin: 0 10px;
    padding: 0;
}
#feedbackSubmit { margin-left: 110px }
div#feedbackSubmit p,
div#feedbackCancel p {
    margin: 0;
    padding: 0;
}
div#feedbackSubmit p input,
div#feedbackCancel p input {
    width: 70px;
    height: 25px;
    outline: 0;
}
#done202 {
    position: relative;
    margin: 20px auto 0;
    width: 400px;
    height: 60px;
    clear: left;
    display: none;
}
#feedbackSentMsg {
    position: relative;
    margin: 140px 0 0 30px;
    font-family: arial;
    font-size: 12px;
    color: #000;
    float: left;
}
a {
    text-align: left;
    color: #009;
    text-decoration: none;
    border-bottom: 1px solid #00dceb;
    font-weight: 700;
}
a:visited { border-bottom: 1px #00dceb }
div#Bottom {
    position: absolute;
    top: 480px;
    left: 4px;
    width: 790px; /* same as fullPanelWidth */
    z-index: 4;
    margin: 0 auto;
    text-align: center;
    margin: 9px auto 0;
}
div#Bottom p {
    color: #fff;
    margin: 0 auto;
    font-size: 9px;
    line-height: 9px;
    width: 290px;
}
div#pageWrapper {
    position: relative;
    height: 560px;
    margin: 0 auto;
    width: 890px;
    text-align: center;
    overflow: visible;
}
.pullout,
.defaultColorBackground { background-color: #1A83A3;} /* light blue */
#progressBar,
.pullout:hover,
#FeedbackButton:hover,
.highlightColorBackground { background-color: #c5073d;} /* deep red */
.pullout:active,
#FeedbackButton:active,
.activeColorBackground { background-color: #002c85;} /* dark blue */
a:link,
a:visited,
a:hover,
a:active,
a:focus {
    text-decoration: none;
    border: none;
    outline: none;
}

#featureContainer {
    background-color: #14c0ef;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 4;
    top: 55px;
    left: 4px;
    width: 760px;
    height: 482px;
    border: 1px solid #5944ff;
}
ul#buttonContainer {
display:block;
	margin: 10px 0 10px 10px;
    width: 750px;
    height: 45px;
}
#buttonContainer li{
list-style: none;
display:block;
    float: left;
    height: 40px;
    margin:0 11px 0 0;
    background-color: #1A83A3; /* light blue */
    background-image: url('../images/spriteMe.png');
    background-position: -7px -737px;
    background-repeat: no-repeat;
    border: 1px solid #5944ff;
    box-shadow: 2px -2px 2px #000;
    -webkit-box-shadow: 2px -2px 2px #000;
    -moz-box-shadow: 2px -2px 2px #000;
}
#buttonContainer li:hover, #buttonContainer li:active{
    background-color: #c5073d; /* deep red */
    background-image: url('../images/spriteMe.png');
    background-position: -7px -737px;
    background-repeat: no-repeat;
}
#buttonContainer li:active{background-color: #002c85;} /* dark blue */
#buttonContainer li a {
    float: left;
    display: block;
    height: 40px;
    background: url('../images/btnStretch.png') repeat-x left top;
    line-height: 15px;
    padding: 6px 4px 0;
    margin-left: 5px;
    color: #fff;
    font-size: 12px;
    text-align: center;
}
li#homeBtn a { padding: 12px 5px 0;}

#homeBtn { width: 54px;}
#pofBtn { width: 69px;}
#pppBtn { width: 79px;}
#bifBtn { width: 80px;}
#bilBtn { width: 80px;}
#loanBtn { width: 88px;}
#fundBtn { width: 66px;}
#contBtn { width: 63px;}
#helpBtn { width: 51px; margin:0 0 0 0;}
#buttonContainer li span {
    float: left;
    display: block;
    width: 5px;
    height: 40px;
    background: url('../images/spriteMe.png') 0 -737px no-repeat;
}
#pulloutContainer {
    position: absolute;
    z-index: 2;
    top: 75px;
    left: 50%;
    margin-left: 225px;
    width: 265px;
    height: 460px;
}
div.pullout {
position:absolute;
    border: 1px solid #5944ff;
    display: block;
    cursor: pointer;
    height: 51px;
    width: 120px;
    background-image: url('../images/spriteMe.png');
    background-position: 0 -522px;
    background-repeat: no-repeat;
    padding: 0;
    text-align: right;
}
div.dpd{
    display: none;
    height: 30px;
    width: 81px;
    text-align:center;
    padding:15px 22px;
    text-align: center;
}
div.dpd a {
    font-size: 12px;
    color: #fff;
    white-space: nowrap;
    cursor: pointer;
}
div.docsPullout {padding:14px 22px;}
div.Tag {
    position:absolute;
    top: 0;
    left:100px;
    width: 16px;
    height: 53px;
background-image: url('../images/spriteMe.png');
background-repeat: no-repeat;
}
#p0 { top: 50px }
#p1 { top: 115px }
#p2 { top: 180px }
#p3 { top: 245px }
#p4 { top: 310px }
#p5 { top: 375px }
#p0Tag{background-position: -75px -595px;}
#p1Tag{background-position: -60px -595px;}
#p2Tag{background-position: -45px -595px;}
#p3Tag{background-position: -30px -595px;}
#p4Tag{background-position: -15px -595px;}
#p5Tag{background-position:     0 -595px;}

#progressBarWrapper {
height:100%;
width:2px;
background-color:transparent;
}
#progressBar {
width:100%;
height:0;
}

.feature,
#helpPanel,
#contactPanel{
    position: absolute;
    background-color: #fff;
    padding: 0;
    width: 736px;
    margin: 10px;
    margin-top:0;
    height: 405px;
    top: 60px;
    left: 0;
    z-index: 6;
    overflow: hidden;
    border: 1px solid #5944ff;
}
#helpPanel, #contactPanel {
    height: 0;
    background-color: transparent;
    border-color: #14C0EF;
}
#helpPanel{margin-left: 40px;width:669px;border:0;}
.Shadow {
    box-shadow: 2px -2px 2px #000;
    -webkit-box-shadow: 2px -2px 2px #000;
    -moz-box-shadow: 2px -2px 2px #000;
}
.opaque {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    opacity: .3;
}
div#speedSliderDiv {
    position: absolute;
    top: 100px;
    left: 2px;
    color: gray;
    display: none;
}
div#speedSlider {
    margin: 10px 5px;
    height:150px;
    box-shadow: 2px -2px 2px #000;
    -webkit-box-shadow: 2px -2px 2px #000;
    -moz-box-shadow: 2px -2px 2px #000;
}
div#speedSlider a {
	width:18px;
	margin-left:-4px;
	padding-left:3px;
    box-shadow: 2px -2px 2px #000;
    -webkit-box-shadow: 2px -2px 2px #000;
    -moz-box-shadow: 2px -2px 2px #000;
}
div#panelsContainer {
    position: absolute;
    top: 0;
    left: 26px;
    width: 670px;
    z-index: 5;
    height: 4000px;
}
.panel {
    top: 400px;
    left: 0;
    height: 400px;
    width: 670px;
    overflow: hidden;
    position: absolute;
    z-index: 6;
}
.panel p { margin: 14px; font-weight: 300; font-size:14px; color: #000;}
#helpPanel p {
    color: #000;
    font-size: 18px;
    font-weight:700;
    line-height:18px;
    margin-right:40px;
    text-align:right;
    font-variant:small-caps;
}
#contactPanel h1,
#contactPanel p{
display:block;
color:#fff;
}
#contactPanel h1{
    text-shadow: 2px -2px 2px #333;
    -webkit-text-shadow: 2px -2px 2px #333;
    -moz-text-shadow: 2px -2px 2px #333;
}
#c1,#c2,#c3,#c4 {
    display: block;
    width: 89px;
    height: 60px;
    overflow: hidden;
    background: url('../images/spriteMe.png') 0 3px no-repeat;
}
#c2 { background-position: 0 -53px }
#c3 { background-position: 0 -116px }
#c4 { background-position: 0 -170px }
table#contactTable {
    margin: 0 auto;
    width: 500px;
    border:none;
}
td.contactIcon { width: 80px }
td.contactText {
    font-size:14px;
}
td.contactText p{margin-bottom:10px;}
img#emailImage {
    width: 216px;
    height: 15px;
    margin-bottom: -4px;
}
div.emailAddress {
    width: 203px;
    height: 21px;
    background-image: url('../images/spriteMe.png');
    background-position: 0 -396px;
    margin:-10px 0 0 25px;
}
#scrollControls {
    position: absolute;
    top: 100px;
    right: 5px;
    width: 33px;
    height: 200px;
    margin: 0;
}
div#upArrow,
div#downArrow {
    display: none;
    position: absolute;
    top: 15px;
    right: 5px;
    background: url('../images/spriteMe.png') 0 -800px no-repeat;
    width: 35px;
    height: 45px;
    cursor: pointer;
}
div#downArrow {
    top: 345px;
    background: url('../images/spriteMe.png') 0 -900px no-repeat;
}
#backwardOne,
#pause,
#resume,
#nextTab,
.pauseResume {
    display: block;
    position: absolute;
    top: 0;
    margin-left: 7px;
    height: 33px;
    width: 32px;
    cursor: pointer;
}
#pause {
    display: none;
    height: 16px;
    width: 16px;
    background: url('../images/spriteMe.png') 0 -962px no-repeat;
}
#resume,
#nextTab {
    display: none;
    height: 16px;
    width: 16px;
    background: url('../images/spriteMe.png') 0 -862px no-repeat;
}

div.panelPtr {
    position: absolute;
    width: 16px;
    height: 16px;
    color: #fff;
    cursor: pointer;
    font-size: 10px;
    font-weight: 700;
    margin-left: 6px;
    padding-left: 1px;
    line-height: 16px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    box-shadow: 2px -2px 2px #000;
    -webkit-box-shadow: 2px -2px 2px #000;
    -moz-box-shadow: 2px -2px 2px #000;
}

div#ExpandedComments {
    position: absolute;
    display: none;
    z-index: -90;
    top: 40px;
    margin: 10px 20px;
    height: 345px;
    width: 675px;
    background: #777;
}
p#ExpandedCommentsP {
    font-size: 14px;
    color: #fff;
}
textarea#ExpandedCommentsText {
    border : 1px solid silver;
    width : 660px;
    height : 280px;
    margin : 5px 0;
    overflow : auto;
    background: #fff;
}
.Special {
    float: right;
    background: url('../images/Announcing.png') 0 0 no-repeat;
    width: 201px;
    height: 214px;
    margin: 40px 10px 0 0;
}
