id="windowMin" background-position: -10px -399px;
id="windowMax" background-position: -21px -399px;
id="windowClose" background-position: -33px -399px;

id="p0" background-position: -10px -540px; background-position: -85px -613px;
id="p1" background-position: -10px -540px; background-position: -70px -613px;
id="p2" background-position: -10px -540px; background-position: -55px -613px;
id="p3" background-position: -10px -540px; background-position: -40px -613px;
id="p4" background-position: -10px -540px; background-position: -25px -613px;
id="p5" background-position: -10px -540px; background-position: -10px -613px;

id="Head" background-position: -10px -687px;
id="homeBtn" background-position: -10px -1184px; "> background-position: -10px -757px;
id="pofBtn" background-position: -10px -1184px; "> background-position: -10px -757px;
id="pppBtn" background-position: -10px -1184px; "> background-position: -10px -757px;
id="bifBtn" background-position: -10px -1184px; "> background-position: -10px -757px;
id="bilBtn" background-position: -10px -1184px; "> background-position: -10px -757px;
id="loanBtn" background-position: -10px -1184px; "> background-position: -10px -757px;
id="fundBtn" background-position: -10px -1184px; "> background-position: -10px -757px;
id="contBtn" background-position: -10px -1184px; ">

id="upArrow" background-position: -9px -816.5px; "
id="pause" background-position: -10px -981px;
id="resume" background-position: -10px -881px;
id="downArrow" background-position: -9px -916.5px;
id="me" background-position: -10px -1017px;
class="divider" background-position: 267.5px -1244px;
<span id="c1" background-position: -10px -10px;
<span id="c2" background-position: -10px -70px;
<span id="c3" background-position: -10px -130px;
<span id="c4" background-position: -10px -190px;
id="FeedbackButton" background-position: -10px -291px;
